@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    transition-duration: 300ms;
}
a {
    text-decoration: none;
    color: black;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h2 {
    font-size: 20pt;
    font-weight: 700;
}
h3 {
    font-weight: 700;
    font-size: 16pt;
    text-transform: uppercase;
}
.w-fit {
    width: fit-content;
}
ul {
    list-style-type: none;
}
.page-wrapper {
    height: 100vh;
}
.nav-brand {
    font-weight: 800;
    font-size: 16pt;
}
